tqdm
ninja
trimesh
scikit-image
scikit-learn
opencv-python
configargparse
lpips
imageio
imageio-ffmpeg
kornia
tensorboard
wandb
plyfile
packaging
einops
matplotlib
omegaconf
Pillow
scipy
cvxopt
cython
setuptools>=70.0.0
numpy>=1.21,<2
